#Main {
  display: grid;
  grid-template-rows: minmax(auto, auto);
  grid-template-columns: repeat(1, 3.5fr 1.5fr);
}

#Gallery {
  grid-area: 1/ 1/ 1/ 3;
  object-fit: contain;
  display: block;
  width: auto;
}

#Description {
  grid-area: 2/ 1/ 2/ 2;
  margin-left: 75px;
}

#BookingContainer {
  grid-area: 2/ 2/ 2/ 3;
  margin-right: 75px;
}

#Booking {
  position: sticky;
}

#Reviews {
  grid-area: 3/ 1/ 3/ 3;
  margin-left: 75px;
}